.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.scoreboard {
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    width: 500px;
    padding: 40px;
    margin: auto;
}
.choices {
    display: flex;
    justify-content: center;
    gap: 0;
}
button {
    height: 50px;
    width: 100px;
    background-color: lightblue;
    border: solid 1px black;
}
button:hover {
    opacity: 80%;
}